.ordenadas li {
    background-color: yellow;
}

.par {
    color: green;
}

.impar {
    text-transform: uppercase;
}

.headers {
    color: red;
}

.headers em {
    font-size: 40px;
    border: 1px solid black;
}
