body {
  font-family: serif;
  font-size: 15px;
}

p {
  font-size: 12px;
  line-height: 25px;
}

h1 {
  font-family: serif;
  font-size: 18px;
}

#font-size {
  width: 50px;
}

#line-height {
  width: 50px;
}